header{
    background-color: #89b6db;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

header h1{
    text-align: center;
    font-size: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a9c2d6;
    background-image: linear-gradient(90deg, #a9c2d6,#86b3d8);
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);

}

input[type="text"],
input[type="number"]{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
    display: block;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background-color: rgb(0, 217, 255);
    color: #282c26;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    
}

button:hover {
    background-color: rgb(70, 227, 255);;
}

.lista-filmes {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 380px;
}

.lista-filmes h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.lista-filmes p {
    font-size: 18px;
    line-height: 1.5;
}

footer{
    background-color:#89b6db;
    padding: 10px;
    margin: 0px;
}

footer p{
    margin: 0px;
    text-align: center;
}

